  @reference "./style/tailwind.css";

.dashboard-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr min-content min-content;
	grid-template-areas:
		'tab-options'
		'tab-content'
		'timeline'
		'tabs';

	--dashboard-height: calc(100vh - var(--main-nav-height));
	--dashboard-height: calc(100dvh - var(--main-nav-height));

	height: var(--dashboard-height);
	max-height: var(--dashboard-height);
	min-height: var(--dashboard-height);
	overflow: hidden;
}

@variant md {
	.dashboard-grid {
		grid-template-columns: 300px 1fr;
		grid-template-rows: 1fr auto;
		grid-template-areas:
			'map-options map'
			'timeline timeline'
			'tabs tabs';
		gap: 0.25rem;
		padding: 0.25rem;
	}
}

@variant lg {
	.dashboard-grid {
		grid-template-columns: 300px 1fr 350px;
		grid-template-rows: 1fr auto;
		grid-template-areas:
			'map-options map      splits-and-timecharts'
			'map-options timeline splits-and-timecharts';
	}
}

.dashboard-grid-map-options {
	grid-area: tab-options;
	flex-direction: row;
	max-width: 100%;
	overflow-x: auto;
}

@variant md {
	.dashboard-grid-map-options {
		grid-area: map-options;
		flex-direction: column;
		gap: 0.25rem;
		max-width: unset;
		overflow-x: unset;
	}
}

.dashboard-grid-map {
	grid-area: tab-content;
}

@variant md {
	.dashboard-grid-map {
		grid-area: map;
	}
}

.dashboard-grid-map-big {
	grid-row-start: tab-options;
	grid-column-start: tab-options;
	grid-row-end: tab-content;
	grid-column-end: tab-options;
}

@variant md {
	.dashboard-grid-map-big {
		grid-row-start: map-options;
		grid-column-start: map-options;
		grid-row-end: map;
		grid-column-end: map;
	}
}
@variant lg {
	.dashboard-grid-map-big {
		grid-area: map;
	}
}

.dashboard-grid-splits-and-timecharts {
	grid-row-start: tab-options;
	grid-column-start: tab-options;
	grid-row-end: tab-content;
	grid-column-end: tab-options;
}

@variant md {
	.dashboard-grid-splits-and-timecharts {
		grid-row-start: map-options;
		grid-column-start: map-options;
		grid-row-end: map;
		grid-column-end: map;
	}
}
@variant lg {
	.dashboard-grid-splits-and-timecharts {
		grid-area: splits-and-timecharts;
	}
}

.dashboard-grid-timeline {
	grid-area: timeline;
}

.dashboard-grid-tabs {
	grid-area: tabs;
	position: relative;
	margin-top: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

@variant md {
	.dashboard-grid-tabs {
		margin-top: -0.25rem;
		top: 0.25rem;
		left: -0.25rem;
		right: -0.25rem;
		width: calc(100% + 0.5rem);
	}
}
